#show_statistics tr td {
    background-color: #f1fcff !important;
    border: 1px solid #ddd !important;
    line-height: 18px !important;
    padding: 8px 80px 8px 8px !important;
    text-align: left !important;
    vertical-align: top !important;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
   width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate,div.dataTables_paginate {
    float: right;
    margin: 0;
}

.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}

.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}

.pagination a, .dataTables_paginate a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}

.pagination ul li{
	text-decoration: none;
	list-style: none;
}

.pagination {
	width: 400px;
	/*height: -1px;*/
}

textarea{
    padding: 0px !important;
}


.vpb_browse_file_box{
    text-align: center;
    border: 1px solid #ccc;
    height: 30px;
    cursor: default;
    width: 106px;
    -webkit-border-radius:5px;
    float: left;
}
.vpb_file_upload_main_wrapper 
{
    width: 788px;
    height:auto;
    margin: 0 auto;
    border: solid 1px #cbcbcb;
    background-color: #FFF;
}
#vpb_file_system_displayer_header 
{
    color: #000;
    font-size:11px;
    text-align:left;
}

#vpb_header_file_names 
{
    text-align:left;
    float: left;
    width: 466px;
    padding:5px;
/*    border:1px solid #CCC;
    background:#F6F6F6;
    box-shadow: 0 0 15px #cbcbcb;
    -moz-box-shadow: 0 0 15px #cbcbcb;
    -webkit-box-shadow: 0 0 15px #cbcbcb;*/
}
#vpb_header_file_size 
{
    width: 99px;
    float: left;
    text-align:left;
    padding:5px;
    /*border:1px solid #CCC;*/
    /*border-left:0px solid #CCC;*/
    /*background:#F6F6F6;*/
}



#vpb_header_file_last_date_modified 
{
    width: 90px;
    float: left;
    text-align:left;
    padding:5px;
    /*border:1px solid #CCC;*/
    /*border-left:0px solid #CCC;*/
    /*background:#F6F6F6;*/
}

#vpb_header_file_remove 
{
    width: 88px;
    float: left;
    padding:5px;
    /*border:1px solid #CCC;*/
    /*border-left:0px solid #CCC;*/
    /*border-right:0px solid #CCC;*/
    /*background:#F6F6F6;*/
    text-align:center;
}

.hove_this_link span { color:#CCC; }
.hove_this_link:hover { background-color:#DBE6FE; }
.hove_this_link:hover span { color:#000; }


#vpb_files_left {
    width: 460px;
    float:left;
    cursor:pointer;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    text-align:left;
    padding:8px;
    height:16px;
    border-right:1px solid #CCC;
}

#vpb_files_size_left 
{
    width: 93px;
    float: left;
    font-family:Verdana, Geneva, sans-serif;
    font-size:10px;
    text-align:left;
    padding:8px;
    height:16px;
    border-right:1px solid #CCC;
}

#vpb_files_time_left 
{
    width: 84px;
    float: left;
    font-family:Verdana, Geneva, sans-serif;
    font-size:10px;
    text-align:left;
    padding:8px;
    height:16px;
    border-right:1px solid #CCC;
}

#vpb_files_remove_left 
{
    width: 83px;
    float: left;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    text-align:left;
    padding:8px;
    height:16px;
    text-align:center;
    color:blue;
}
.vpb_files_remove_left_inner:hover
{
    cursor:pointer;
    text-decoration:underline;
}


.vpb_blue { background-color: #E9F0FF; }
.vpb_white { background-color:#FFFFFF; }


/*Browse file button*/
.vpb_browse_file_box{ font-weight:bold; font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:center;background:#f2f2f2 url('../img/vpsloader/browse_file_by_vasplus_programming_blog.png') no-repeat 12px 9px;color:green;border:1px solid #ccc;height:30px;cursor: default;width:106px;-moz-border-radius:5px; -webkit-border-radius:5px;float:left; }




/*Vasplus Upload Button*/
.vpb_general_button 
{
 background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
  border: 1px solid #63a62f;box-shadow: 0 2px 3px #666666;-moz-box-shadow: 0 2px 3px #666666;-webkit-box-shadow: 0 2px 3px #666666;
  color: #fff;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  min-width: 70px;
  width: auto;
  padding:8px;padding-left:12px; padding-right:12px;
  text-decoration:none;
  margin-right:30px;
}
.vpb_general_button:hover 
{
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    box-shadow: 0 2px 3px #666666;
    -moz-box-shadow: 0 2px 3px #666666;
    -webkit-box-shadow: 0 2px 3px #666666;
    cursor: pointer; 
}

#id_div_items #add_item_row{
    color: Black;
}
#btn_charge{
    margin-top: 10px;
    margin-left: 10px;
}
#charge_amount{
    padding: 20px;
}
.input-group-btn .add-on{
    background: #fff!important;
}
.input-group-btn .add-on:hover{
    color: black!important;
}
#a_excel{
    background-image: url('./../images/excel_1.png')!important;
    background-repeat: no-repeat;
    background-position: center;
    width: 72px;
    height: 72px;
    display: block;
}
body{
    background: #F5F5F5;
}
.panel{
    margin-bottom: 0px!important;
}
.panel-heading h4{
    color: #fff!important;
}
.q_d input, .q_d select, .o_d input, .o_d select{
    margin-right: 10px!important;
}
@media (min-width: 768px){
    .q_d input, .o_d input{
        width: 112px!important;
    }
}
.q_d_p{
    height: 967px;
}
.o_d_p{
    min-height: 974px;
}