		body { font-family: DejaVuSansCondensed, sans-serif; font-size: 11pt;  }

		p { 	text-align: justify; margin-bottom: 4pt;  margin-top:0pt; }



		hr {	width: 70%; height: 1px; 

			text-align: center; color: #999999; 

			margin-top: 8pt; margin-bottom: 8pt; }



		a {	color: #000066; font-style: normal; text-decoration: underline; 

			font-weight: normal; }



		ul {	text-indent: 5mm; margin-bottom: 9pt; }

		ol {	text-indent: 5mm; margin-bottom: 9pt; }



		pre { font-family: DejaVuSansMono, monospaced; font-size: 9pt; margin-top: 5pt; margin-bottom: 5pt; }



		h1 {	font-weight: normal; font-size: 26pt; color: #000066; 

			font-family: DejaVuSansCondensed, sans-serif; margin-top: 18pt; margin-bottom: 6pt; 

			border-top: 0.075cm solid #000000; border-bottom: 0.075cm solid #000000; 

			text-align: ; page-break-after:avoid; }

		h2 {	font-weight: bold; font-size: 12pt; color: #000066; 

			font-family: DejaVuSansCondensed, sans-serif; margin-top: 6pt; margin-bottom: 6pt; 

			border-top: 0.07cm solid #000000; border-bottom: 0.07cm solid #000000; 

			text-align: ;  text-transform: uppercase; page-break-after:avoid; }

		h3 {	font-weight: normal; font-size: 26pt; color: #000000; 

			font-family: DejaVuSansCondensed, sans-serif; margin-top: 0pt; margin-bottom: 6pt; 

			border-top: 0; border-bottom: 0; 

			text-align: ; page-break-after:avoid; }

		h4 {	font-weight: ; font-size: 13pt; color: #9f2b1e; 

			font-family: DejaVuSansCondensed, sans-serif; margin-top: 10pt; margin-bottom: 7pt; 

			font-variant: small-caps;

			text-align: ;  margin-collapse:collapse; page-break-after:avoid; }

		h5 {	font-weight: bold; font-style:italic; ; font-size: 11pt; color: #000044; 

			font-family: DejaVuSansCondensed, sans-serif; margin-top: 8pt; margin-bottom: 4pt; 

			text-align: ;  page-break-after:avoid; }

		h6 {	font-weight: bold; font-size: 9.5pt; color: #333333; 

			font-family: DejaVuSansCondensed, sans-serif; margin-top: 6pt; margin-bottom: ; 

			text-align: ;  page-break-after:avoid; }





		.breadcrumb {

			text-align: right; font-size: 8pt; font-family: DejaVuSerifCondensed, serif; color: #666666;

			font-weight: bold; font-style: normal; margin-bottom: 6pt; }



		.infobox { margin-top:10pt; background-color:#DDDDBB; text-align:center; border:1px solid #880000; }



		.big { font-size: 1.5em; }

		.red { color: #880000; }

		.slanted { font-style: italic; }